{if count($posts)}
	{foreach $posts as $post}
	<div class="jumbotron">
		<h2><a href="{plink Post:detail id => $post->id, slug => $template->webalize($post->title)}">{$post->title}</a></h2>
        <div class="well">{md $post->content}</div>
	</div>
	{if !$iterator->isLast()}<hr />{/if}
	{/foreach}

	{control paginator}
{else}
	<h2>No posts yet</h2>
{/if}