{if count($posts)}
	{foreach $posts as $post}
	<div class="jumbotron">
		<h2><a href="{plink Post:detail id => $post->id, slug => $template->webalize($post->title)}">{$post->title}</a></h2>
		<p class="lead">{$post->content}</p>
	</div>
	{if !$iterator->isLast()}<hr />{/if}
	{/foreach}
{/if}