{#content}

<div class="pull-left">
    <h2>Posts</h2>
</div>
<div class="pull-right">
    <a class="btn btn-large btn-primary" href="{plink Post:update}"><i class="icon-plus-sign icon-white"></i> Add new Post</a>
</div>

<br class="clearfix" />
<br />
<hr />

	{control post:admin}