# change for your own domain
RewriteEngine On
# RewriteCond %{HTTP_HOST} ^(www\.)?jsifalda\.name$ # write domain name
RewriteRule ^$ www/ [L]
# RewriteCond %{HTTP_HOST} ^(www\.)?jsifalda\.name$ # write domain name
RewriteRule (.*) www/$1 [L]