{if count($posts)}
	{foreach $posts as $post}

		<div class="clearfix">
			<div class="pull-left" style="width: 100px; margin-top: 15px;">
				<span class="label label-inverse">{$post->date|date:'%d.%m.%Y'}</span>
			</div>
			<div class="pull-right" style="width: 600px;">
				<h2><a href="{plink Post:detail id => $post->id, slug => $template->webalize($post->title)}">{$post->title}</a></h2>
				{md $post->content}
            </div>
		</div>

		{if !$iterator->isLast()}<hr />{/if}
	{/foreach}

	{control paginator}
{else}
	<h2>No posts yet</h2>
{/if}