#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  database:
    driver: mysql
    prefix: bl_

    # config
    host:
    dbname:
    user:
    password:

php:
  date.timezone: Europe/Prague
  # zlib.output_compression: yes


nette:
  container:
    debugger: false

  application:
      mapping:
        *: DoctrineSandbox\*Module\*Presenter
    
  session:
    expiration: 14 days
    autoStart: smart

services:
  routerFactory: RouterFactory
  router: @routerFactory::createRouter
  user: \DoctrineSandbox\Security\User

  - \DoctrineSandbox\Security\Authenticator

  - \DoctrineSandbox\Entity\Users\UserFacade

  - \DoctrineSandbox\FrontModule\Forms\Sign\SignInFormProcess

  - \Flame\Database\Connection(%database%)

factories:
  signInForm:
    implement: \DoctrineSandbox\FrontModule\Forms\Sign\ISignInFormFactory

  flashMessageControl:
    create: \Flame\Addons\FlashMessages\FlashMessageControl(%templateFile%)
    implement: \Flame\Addons\FlashMessages\IFlashMessageControlFactory
    parameters: [templateFile = null]
