#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  database:
    driver: pdo_mysql
    charset: utf8
    port: 3306
    prefix: bl_

    # config
    host:
    dbname:
    user:
    password:

  entities: [%appDir%/Entity]

php:
  date.timezone: Europe/Prague
  # zlib.output_compression: yes

nette:
  latte:
    macros:
      - \Flame\Blog\Latte\Macros\MarkdownMacros
      - \Flame\Blog\Latte\Macros\BlogMacros

  template:
    helperLoaders: [\Flame\Blog\Templating\Helpers, \Flame\Templating\Helpers]
    helpers:
      setting: @SettingHelper::setting

  container:
    debugger: true

  application:
      mapping:
        *: Flame\Blog\*Module\*Presenter
    
  session:
    expiration: 14 days
    autoStart: smart

includes:
  - services.neon
  - factories.neon