#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  database:
    driver: pdo_mysql
    charset: utf8
    port: 3306
    prefix: bl_

    # config
    host:
    dbname:
    user:
    password:

  entities: [%appDir%/Entity]

php:
  date.timezone: Europe/Prague
  # zlib.output_compression: yes


nette:
  latte:
    macros:
      - \Flame\Blog\Latte\Macros\MarkdownMacros

  template:
    helperLoaders: [\Flame\Blog\Templating\Helpers]

  container:
    debugger: false

  application:
      mapping:
        *: Flame\Blog\*Module\*Presenter
    
  session:
    expiration: 14 days
    autoStart: smart


services:
  routerFactory: \Flame\Blog\Router\RouterFactory
  router: @routerFactory::createRouter
  user: \Flame\Blog\Security\User

  - \Flame\Blog\Security\Authenticator

  - \Flame\Blog\Entity\Users\UserFacade
  - \Flame\Blog\Entity\Posts\PostFacade

  - \Flame\Blog\FrontModule\Forms\Sign\SignInFormProcess

  - \Flame\Blog\Model\Posts\PostManager

  SqlLogger: Flame\Doctrine\Diagnostics\ConnectionPanel::register
  MappingStrategy: \Doctrine\ORM\Mapping\UnderscoreNamingStrategy
  TablePrefix: Flame\Doctrine\TablePrefix(%database.prefix%)

  EventManager:
    class: Doctrine\Common\EventManager
    setup:
      - addEventListener('loadClassMetadata', @TablePrefix)

  EntityManagerConfig:
    class: Doctrine\ORM\Configuration
    factory: Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration(%entities%, true)
    setup:
      - setSQLLogger(@SqlLogger)
      - setProxyDir(%rootDir%/temp/proxy)
      - setNamingStrategy(@MappingStrategy)

  EntityManager:
    class: Doctrine\ORM\EntityManager
    factory: Doctrine\ORM\EntityManager::create(%database%, @EntityManagerConfig, @EventManager)

factories:
  signInForm:
    implement: \Flame\Blog\FrontModule\Forms\Sign\ISignInFormFactory

  flashMessageControl:
    create: \Flame\Addons\FlashMessages\FlashMessageControl(%templateFile%)
    implement: \Flame\Addons\FlashMessages\IFlashMessageControlFactory
    parameters: [templateFile = null]

  postControl:
    create: \Flame\Blog\Components\Posts\PostControl(%post%)
    implement: \Flame\Blog\Components\Posts\IPostControlFactory
    parameters: [\Flame\Blog\Entity\Posts\Post post = null]

  postForm:
    create: \Flame\Blog\Components\Posts\Forms\PostForm(%defaults%)
    implement: \Flame\Blog\Components\Posts\Forms\IPostFormFactory
    parameters: [array defaults = []]
