nette:
  template:
    helpers:
      setting: @SettingHelper::setting

parameters:
  entities: [%appDir%/SettingModule/Entity]
  settings: [
    string: ['projectName', 'projectDesc', 'seoKeywords', 'seoDescription', 'disqusKey', 'itemsPerPage', 'maxRssItems'],
    bool: ['alllowComments', 'alllowSharing']
  ]

services:
    - \Flame\Blog\SettingBundle\Model\Settings\SettingManager
    settingFacade:
      class: \Flame\Blog\SettingBundle\Entity\Settings\SettingFacade
      setup:
        - setAvailableSetting(%settings%)

    SettingHelper: \Flame\Blog\SettingBundle\Templating\Helpers\SettingHelper

factories:
  settingControl:
    implement: \Flame\Blog\SettingBundle\Components\Settings\ISettingControlFactory

  settingForm:
    create: \Flame\Blog\SettingBundle\Components\Settings\Forms\SettingForm(%availableSettings%, %default%)
    implement: \Flame\Blog\SettingBundle\Components\Settings\Forms\ISettingFormFactory
    parameters: [array availableSettings, array default = []]