parameters:
  entities: [%appDir%/UserModule/Entity]

services:
  user: \Flame\Blog\UserModule\Security\User

  - \Flame\Blog\UserModule\Security\Authenticator
  - \Flame\Blog\UserModule\Model\Users\UserManager
  - \Flame\Blog\UserModule\Entity\Users\UserFacade

  - \Flame\Blog\FrontModule\Forms\Sign\SignInFormProcess
factories:
  userForm:
    create: \Flame\Blog\UserModule\Components\Users\Forms\UserForm(%default%)
    implement: \Flame\Blog\UserModule\Components\Users\Forms\IUserFormFactory
    parameters: [array default]

  userControl:
    implement: \Flame\Blog\UserModule\Components\Users\IUserControlFactory

  signInForm:
    implement: \Flame\Blog\FrontModule\Forms\Sign\ISignInFormFactory