#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  database:
    driver: pdo_mysql
    charset: utf8
    port: 3306
    prefix: bl_

    # config
    host:
    dbname:
    user:
    password:

  entities: []

php:
  date.timezone: Europe/Prague
  # zlib.output_compression: yes

nette:
  container:
    debugger: false

  application:
      mapping:
        *: Flame\Blog\*Module\*Presenter
    
  session:
    expiration: 14 days
    autoStart: smart

bundles:
  userBundle: [%appDir%/UserBundle/config/config.neon]
  settingBundle: \Flame\Blog\SettingBundle\SettingModule([%appDir%/SettingBundle/config/config.neon])
  postBundle: \Flame\Blog\PostBundle\PostModule([%appDir%/PostBundle/config/config.neon])

doctrine:
  connection: %database%
  entityDirs: %entities%

services:
  routerFactory: \Flame\Blog\AppBundle\Router\RouterFactory
  router: @routerFactory::createRouter

factories:
  flashMessageControl:
    create: \Flame\Addons\FlashMessages\FlashMessageControl(%templateFile%)
    implement: \Flame\Addons\FlashMessages\IFlashMessageControlFactory
    parameters: [templateFile = null]