<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{#title|striptags|trim}Nette Application Skeleton{/#}</title>

	<link rel="stylesheet" media="all" href="{$basePath}/css/core.css">

	{#head}{/#}
</head>

<body>

	{control flashMessage}

	{include #content}

	{#scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/ajax.js"></script>
	{/#}
</body>
</html>
