{#content}

<div class="left">
    <h2 n:block="title">Posts</h2>
</div>
<div class="right">
    <a class="btn btn-large btn-primary" href="{plink Post:update}"><i class="icon-plus-sign icon-white"></i> Add new Post</a>
</div>

<br class="clear" /> <hr />

	{control post:admin}