services:
    - \Flame\Blog\SettingModule\Model\Settings\SettingManager
    - \Flame\Blog\SettingModule\Entity\Settings\SettingFacade

    SettingHelper: \Flame\Blog\SettingModule\Templating\Helpers\SettingHelper

factories:
  settingControl:
    implement: \Flame\Blog\SettingModule\Components\Settings\ISettingControlFactory

  settingForm:
    create: \Flame\Blog\SettingModule\Components\Settings\Forms\SettingForm(%availableSettings%, %default%)
    implement: \Flame\Blog\SettingModule\Components\Settings\Forms\ISettingFormFactory
    parameters: [array availableSettings, array default = []]