body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

.masthead h1 {
    float: left;
}

.masthead h1 a {
    color: #808080;
}

.masthead h2 {
    float: left;
    margin-left: 15px;
    padding-top: 10px;
    font-size: 25px;
}

.jumbotron {
    margin: 60px 0;
    word-wrap: break-word;
}
.jumbotron h2 {
    font-size: 62px;
    line-height: 1;
}

.jumbotron h2 a {
    color: #333;
}

input, textarea {
    width: auto;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.sharing {
    margin: 10px 0;
}

.sharing li {
    display: inline;
    padding: 10px;
}